part3/phonebook/.env
part2/phonebook/build/
part2/phonebook/node_modules
part3/phonebook/node_modules
part1/courseinfo/node_modules
*/node_modules
part4/blog/node_modules
part4/blog/.env
part5/bloglist/node_modules
part5/custom-hooks/node_modules
part6/unicafe-redux/node_modules
part6/anecdotes-redux/node_modules
part7/routed-anecdotes/node_modules
