part3/phonebook/.env
part2/phonebook/build/
part2/phonebook/node_modules
part3/phonebook/node_modules
part1/courseinfo/node_modules
*/node_modules
part4/blog/node_modules
part4/blog/.env
part5/bloglist/node_modules